*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#000;
    color:#fff;
}

.container{
    width:100%;
    padding:20px;
    display:flex;
    justify-content:center;
}

.card{
    width:100%;
    max-width:420px;
    padding:40px;
    border-radius:15px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(15px);
    box-shadow:0 8px 25px rgba(0,0,0,0.6);
    text-align:center;
}

.card h2{
    margin-bottom:25px;
    font-size:28px;
}

.card span{
    color:#ffa726;
}

.input-group{
    margin-bottom:18px;
}

.input-group input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    outline:none;
    background:rgba(255,255,255,0.1);
    color:white;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#ffa726;
    color:black;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#ff9800;
}

.back-link{
    margin-top:15px;
}

.back-link a{
    color:#ffa726;
    text-decoration:none;
    font-size:14px;
}

.back-link a:hover{
    text-decoration:underline;
}

@media(max-width:500px){
    .card{
        padding:30px 20px;
    }
}
